table {  
    font-family: arial, sans-serif;  
    border-collapse: collapse;  
    width: 100%;  
  }  
    
  td, th {  
    text-align: left;  
    padding: 8px;
    border: 2px solid lightgreen;  
  }  
  tr:nth-child(even) {  
    background-color: #c1ee91;  
  }  
  th{
    background-color: rgba(61, 184, 49, 0.675);
    color : white;
  }

table{
    width : 70%;
    height : 40%;
    margin-left: 34px;
}
h1, h2{
    font-weight: bold;
    color: black;
}
h1{
    background-color: peachpuff;
    margin-top: 12px;
    margin-left: 10px;
}
.search{
    display: absolute;
    top : 0;
    right : 0;
    border-radius : 25px;
    float: right;
    margin : 7px;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    cursor : pointer;
}
.table{
    width : 40%;
    height : 70%;
    border: 1px solid black;
}
.table-bordered{
    width : 600px;
    border-collapse: collapse;
    height: 250px;
    border: 2px solid lightgreen;
}
table, th, td {
    //border: 1px soli red;
    border-collapse: collapse;
  }
.table{
    margin-left: auto; 
    margin-right: auto;
    height: 48%;
  }

 .text{
    color : black;
    margin-left: 30px;
    margin-top: 16px;
 }
 input{
    margin-left: 320px;
    width: 35%;
    height: 5%;
    margin-right: 10px;
    margin-top: 13px;
 }
 .header{
    display: flex;
    background-color: peachpuff;
    border: 2px solid peachpuff;
 }

.text{
  cursor: pointer;
}
p{
  width: 0;
  height: 0;
  display : inline;
  color : black;
  margin-left: 2px;
  padding: 1px;
}
.heading{
  margin-top: 15px;
}
  .text-right{
    font-size : 14px;
    text-align : center;
    margin : 20px auto;
    margin-left: 220px;
}
