
<div class="table">
  <div class="header">
    <h1 class="heading">CITRIX</h1>
    <input type="text" class="form-control" name="searchString" placeholder="Search..." [(ngModel)]="searchString"/>
  </div>
    
  <div>
    <h2 class="text">Customers</h2>
    <div> </div>
    <table class="table-bordered" matSort>
      <thead>
        <tr>
          <th class="text"><a (click)="onsort('Name', booleanValue)" mat-sort-header="Name">Name <p [innerHTML]="icon"></p></a></th>
          <th class="text"><a (click)="onsort('Email', booleanValue)" mat-sort-header="Email">Email <p [innerHTML]="icon"></p></a></th>
          <th class="text"><a (click)="onsort('Location', booleanValue)" mat-sort-header="Location">Location <p [innerHTML]="icon"></p></a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of values | filter : searchString | paginate: { itemsPerPage: count, currentPage: page}">
          <td>{{e.Name}}</td>
          <td>{{e.Email}}</td>
          <td>{{e.Location}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="text-right">
      <ngb-pagination
      [(page)]="page"
      [pageSize]="count"
      [collectionSize]="values.length" >
      </ngb-pagination>
    </div>
  </div>

  
